In [9]:
from sklearn.utils.fixes import loguniform
import numpy as np
import doepy
from doepy import build
import pyDOE2

In [10]:
build.full_fact(
    {'Pressure':[40,55,70],
    'Temperature':[290, 320, 350],
    'Flow rate':[0.2,0.4], 
    'Time':[5,8],
    'clf':["svm", "rf", "reg"]}
)

     Pressure  Temperature  Flow rate  Time  clf
0        40.0        290.0        0.2   5.0  0.0
1        55.0        290.0        0.2   5.0  0.0
2        70.0        290.0        0.2   5.0  0.0
3        40.0        320.0        0.2   5.0  0.0
4        55.0        320.0        0.2   5.0  0.0
..        ...          ...        ...   ...  ...
103      55.0        320.0        0.4   8.0  2.0
104      70.0        320.0        0.4   8.0  2.0
105      40.0        350.0        0.4   8.0  2.0
106      55.0        350.0        0.4   8.0  2.0
107      70.0        350.0        0.4   8.0  2.0

[108 rows x 5 columns]

In [11]:

{'C': loguniform(1e0, 1e3),
 'gamma': loguniform(1e-4, 1e-3),
 'kernel': ['rbf'],
 'class_weight':['balanced', None]}

{'C': <scipy.stats._distn_infrastructure.rv_frozen at 0x269c565b448>,
 'gamma': <scipy.stats._distn_infrastructure.rv_frozen at 0x269c566d048>,
 'kernel': ['rbf'],
 'class_weight': ['balanced', None]}

In [12]:
build.space_filling_lhs(
{'Pressure':[40,55,70],
'Temperature':[290, 320, 350],
'Flow rate':[0.2,0.4], 
'Time':[5,8],},
num_samples = 12
)

Pressure had more than two levels. Assigning the end point to the high level.
Temperature had more than two levels. Assigning the end point to the high level.

     Pressure  Temperature  Flow rate      Time
0   70.000000   290.000000   0.254545  6.090909
1   67.272727   328.181818   0.290909  7.454545
2   59.090909   350.000000   0.218182  7.727273
3   42.727273   344.545455   0.272727  5.000000
4   56.363636   322.727273   0.400000  6.363636
5   40.000000   300.909091   0.236364  7.181818
6   45.454545   306.363636   0.200000  5.272727
7   64.545455   317.272727   0.345455  5.818182
8   50.909091   295.454545   0.309091  8.000000
9   48.181818   311.818182   0.363636  5.545455
10  53.636364   339.090909   0.327273  6.636364
11  61.818182   333.636364   0.381818  6.909091